
.featured__products__container {
    width: 100%;
    height: auto;
    min-height: 25rem;
    margin-top: 30px;
    margin:auto;
    /* background-color:rgb(226, 202, 202); */
    box-sizing: border-box;
    
}

.featured__products{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-top: 50px;
    justify-content: space-evenly;
    /* align-items: center; */
    box-sizing: border-box;
    flex-wrap: wrap;
}



.featured__products__header {
    /* width: 92%; */
    flex-basis: 50%;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: 50%;
    margin-left: auto;
    
}

.featured__items__header__big {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.featured__header__small {
    margin: auto 20px;
}

.featured__products__header__line {
    width: 150px;
    height: 6px;
    background-color: #FFE26E;
    align-self: flex-start;
    margin-left: 50px;
    border-radius: 25px;
    flex-basis: 50%;
}

.featured__products__card__container {
    flex-basis: 50%;
    margin-top: 20px;
    padding: 30px;
    width: auto;
    height: auto;
    /* display: flex; */
    /* flex-basis: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    box-sizing: border-box;
    /* flex-basis: 50%; */
    /* flex-wrap: nowrap; */
}

.featured__products__cards{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex-wrap: wrap;
    /* align-items: center; */
}


.featured__products__card > ItemCa{
    flex-basis: 55%;
    background-color: black;
    /* flex-grow: 1; */
}

@media screen and (max-width: 768px) {
    .featured__products__card__container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    .featured__products__header{
        top: 0;
        position: sticky;
        align-self: center;
        margin: auto;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.493);
        width: 100%;
    }

    .featured__items__header__big {
        color: whitesmoke;
    }
    .featured__header__small {
        color: whitesmoke;
    }
}